.btn {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  cursor: pointer;
  padding: 18px 48px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  transition: var(--transition);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--bg-color);
}

.btn--primary span {
  position: relative;
  z-index: 2;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.btn--primary::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-secondary);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--primary:hover::before {
  background: var(--color-secondary);
  transform: scaleX(1);
}

.btn--primary:active::before {
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--color-secondary-active);
}

.btn--count {
  padding: 6px 14px;
  color: var(--bg-color);
  background-color: var(--color-grey);
  border: 2px #adadad solid;
}

.btn--count:hover {
  background-color: #adadad;
}

.btn--delete {
  background-color: transparent;
  padding: 6px 24px;
  color: var(--color-secondary);
  border: 2px var(--color-grey) solid;
}

.btn--delete:hover {
  background-color: var(--bg-color);
}

.btn--delete:active {
  background-color: var(--color-grey);
}


@media (min-width: 768px) {
  .btn {
    font-size: 18px;
  }
}