.footer-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.nav__link--footer {
  font-weight: 300;
  color: var(--color-grey);
  text-decoration: none;
  transition: var(--transition);
}

.nav__link--footer:hover {
  color: var(--color-primary);
}


@media (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    text-align: left;
    gap: 0;
  }

  .footer-nav .nav__item {
    padding: 0 12px;
    border-right: 1px var(--color-grey) solid;
  }
  
  .footer-nav .nav__item:last-of-type {
    border: none;
  }
}


