.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 24px;
}

@media (min-width: 992px) {
  .header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
  }
}

@media (min-width: 1200px) {
  .header__content {
    padding: 24px 0;
  }
}

