.info__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 38px 24px;
}

.info__container {
  display: flex; 
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

.info__heading {
  font-size: 24px;
}

.info__subtext {
  font-weight: 300;
}

.info__img {
  width: 100%;
}

@media (min-width: 768px) {
  .info__content {
    flex-direction: row;
  }
  .info__container--right {
    justify-content: center;
  }
  .info__heading {
    font-size: 28px;
  }
}